In [19]:
# Import Splinter and BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup

In [20]:
# Path to chromedriver
!which chromedriver

'which' is not recognized as an internal or external command,
operable program or batch file.

In [21]:
# Set the executable path and initialize the chrome browser in splinter
executable_path = {'executable_path': 'C:/Users/Bharathy_Nat/Downloads/chromedriver'}
browser = Browser('chrome', **executable_path)

Visit NASA Mars News Site

In [22]:
# Visit the mars nasa news site
url = 'https://mars.nasa.gov/news/'
browser.visit(url)
# time.sleep(1)  # Optional delay for loading the page

In [23]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
news_soup = BeautifulSoup(html, 'html.parser')
# browser.quit()

In [25]:
# Use beautiful soup to find the first news title parent element
listTextLabelElem = news_soup.find('div', class_='content_title')# Use the parent element to find the first a tag and save it as `news_title`
news_title = listTextLabelElem.find('a').get_text()
news_title

'NASA InSight Mission to Mars Arrives at Launch Site'

In [28]:
# Use the parent element to find the paragraph text
news_p = news_soup.find('div', class_='article_teaser_body').get_text()
news_p

"NASA's InSight spacecraft has arrived at Vandenberg Air Force Base in central California to begin final preparations for a launch this May."

JPL Space Images Featured Imag

In [29]:
# Visit URL
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [30]:
# Find and click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [31]:
# Find the more info button and click that
more_info_elem = browser.find_link_by_partial_text('more info')
more_info_elem.click()

In [32]:
# Parse the resulting html with soup
html = browser.html
img_soup = BeautifulSoup(html, 'html.parser')

In [33]:
# find the relative image url
img_url_rel = img_soup.find('figure', class_='lede').find('img')['src']
img_url_rel

'/spaceimages/images/largesize/PIA18433_hires.jpg'

In [34]:
# Use the base url to create an absolute url
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18433_hires.jpg'

Mars Weather

In [47]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [48]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [49]:
# First, find a tweet with the data-name `Mars Weather`
mars_weather_tweet = weather_soup.find('div', attrs={"class": "tweet", "data-name": "Mars Weather"})

In [50]:
# Next, search within the tweet for the p tag containing the tweet text
mars_weather = mars_weather_tweet.find('p', 'tweet-text').get_text()
mars_weather

'Sol 1977 (Feb 27, 2018), Sunny, high -10C/14F, low -77C/-106F, pressure at 7.27 hPa, daylight 05:37-17:25'

In [51]:
url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url)

In [54]:
# Convert the browser html to a soup object and then quit the browser
html = browser.html
pics_soup = BeautifulSoup(html, 'html.parser')

In [56]:
pics_soup.find('div',class_="itemLink product-item").click()

AttributeError: 'NoneType' object has no attribute 'click'

In [42]:
hemisphere_image_urls = []

# First, get a list of all of the hemispheres
links = browser.find_by_css("a.product-item")

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    hemisphere = {}
    
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css("a.product-item")[i].click()
    
    # Next, we find the Sample image anchor tag and extract the href
    sample_elem = browser.find_link_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    
    # Get Hemisphere title
    hemisphere['title'] = browser.find_by_css("h2.title").text
    
    # Append hemisphere object to list
    hemisphere_image_urls.append(hemisphere)
    
    # Finally, we navigate backwards
    browser.back()

In [43]:
hemisphere_image_urls

[]

Mars Facts

In [57]:
import pandas as pd
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [58]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [59]:
browser.quit()